*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(230, 230, 230);
    padding: 20px;
    position: fixed;
    width: 100%;
}

ul{
     display: flex;
     flex-direction: row;
     justify-content: center;
}
li{
    list-style: none;
    padding-right: 25px;
    font-size: 20px;
    margin-top: 5px;
}

li:hover{
    color: gray;
    cursor: pointer;
    transition: 0.2s;
}

.allform{
    display: flex;
    justify-content: center;
    align-items:center ;
    background-color: rgb(47, 36, 65);
    height: 100vh;
    
}
form{
    background-color: white;
    padding: 15px;
    border: none;
    border-radius: 8px;
    margin: 10px;
    width: 400px;
}
.texthead{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 22px;
    text-align: center;
    margin-bottom: 10px;
}
input{
    padding: 11px;
    border-radius: 8px;
    border: 1px solid rgb(211, 211, 211);
    margin-top: 5px;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
}
input:focus{
    outline: none;
}
button{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(56, 97, 56);
    transition: 0.3s;
}
.forgettext{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 14px;
    margin-top: 7px;
    color: rgb(121, 45, 45);
    cursor: pointer;
}